@page
@model HotelApp.Pages.HotelPages.BookedModel
@{
}

<br />
<div class="container row p-0 m-0">
    <div class="col-12">
        <h2 class="text-info">Room List</h2>
    </div>
   
    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Rooms.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Rooms.FirstOrDefault().roomNumber"></label>
                        </th>
                        <th>
                            <label>Room status</label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Rooms)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.roomNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.roomStatus)
                            </td>
                            <td>
                                @*<button asp-page-handler="Edit" asp-route-id="@item.itbId" class="btn btn-success btn-sm text-white">Book room</button>*@
                                <a asp-page="Edit" asp-route-id="@item.itbId" class="btn btn-success btn-sm text-white">Check out</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No rooms available</p>
            }
        </form>
    </div>

</div>