@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-info">Welcome to Top-Up Hotel</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="row">
    <div class="col-4">
        <h4>Hi there</h4>
        <img src="~/lib/download (1).jfif" />
    </div>
    <div class="col-4">
        <h4>Hi there</h4>
        <img src="~/lib/download (2).jfif" />
    </div>
    <div class="col-4">
        <h4>Hi there</h4>
        <img src="~/lib/download (3).jfif" />
    </div>

</div>
